@import '../variables';

.my {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 35%;
  z-index: 65535;
  pointer-events: none;

  &Graph {
    background-color: #aaa;
    font-size: 8px;
    margin: 7px;
    transition: width 0.2s linear;
    box-sizing: border-box;
  }
}
